.Site {
  text-align: center;
  background-color: rgb(20, 0, 20);
}

.ResultsViewerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.ResultsViewer {
  width: 75vw;
}

@media screen and (max-width: 768px) {
  .ResultsViewer {
    width: 90vw;
  }
}